.SeelVpn{
    color: #555;
    
    font-family: "Oleo Script";
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; /* 144.444% */
    }
    .gg{
        color: #6E6E6E;
    
    text-align: center;
    font-family: Montserrat;
    font-size: 12.516px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 151.802% */
    letter-spacing: -0.2px;
}
